restapi-doc/restapi-doc/api-ref/src/wadls/compute-api/v2/cgcs-ext/compute-v2-cgcs-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
<!-- REMOVED xmlns:csapi="http://docs.openstack.org/compute/api/v2" -->


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->

    <resources base="https://windriver.com/cgcs-restapi/nova/"
        xml:id="os-scheduler-hints-v2">

        <!-- /v2                                               -->
        <resource id="version" type="#VersionDetails" path="//v2">

        <!-- /v2/{tenant_id}                                   -->
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>

        <!-- /v2/{tenant_id}/extensions                                    -->
                <resource id="computeExtensions" path="extensions">
                    <method href="#listComputeExtensions"/>
        <!-- /v2/{tenant_id}/extensions/{extension_alias}               -->
                    <resource path="{extension_alias}" id="computeExtensionget">
                        <param name="extension_alias" style="template"
                            type="xsd:string">
                           <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"><para>The alias for the extension 
                                   to list.</para>
                           </wadl:doc>
                        </param>
                        <method href="#getComputeExtension"/>
                    </resource>
                </resource>

        <!-- /v2/{tenant_id}/servers                           -->
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>

        <!-- /v2/{tenant_id}/servers/detail                    -->
                    <resource id="ServersDetail" path="detail">
                        <method href="#listServersDetail"/>
                    </resource>

        <!-- /v2/{tenant_id}/servers/{server_id}               -->
                    <resource id="server_id" path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The ID for the server of
                                   interest to you.
                               </para></wadl:doc>
                        </param>
                        <method href="#getServerDetail"/>

        <!-- /v2/{tenant_id}/servers/{server_id}/action        -->
                        <resource id="action" path="action">
                            <method href="#scaleServer"/>
                        </resource>

        <!-- /v2/{tenant_id}/servers/{server_id}/os-interface  -->
                        <resource id="os-interface" path="os-interface">
                            <method href="#createInterface"/>
                        </resource>
                    </resource>
                </resource>


        <!-- /v2/{tenant_id}/os-hosts                  -->
        <!-- /v2/{tenant_id}/os-hosts/{os-host_name} -->
        <!--
                <resource id="os-hosts" path="os-hosts">
                    <resource id="os-host_name" path="{os-host_name}">
                        <param name="os-host_name" style="template"
                            type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The host
                                    name.</para></wadl:doc>
                        </param>
                        <method href="#updateOsHosts"/>
                    </resource>
                </resource>
        -->

        <!-- /v2/{tenant_id}/os-server-groups                  -->
                <resource id="os-server-groups" path="os-server-groups">
                    <method href="#listServerGroups"/>
                    <method href="#createServerGroup"/>

        <!-- /v2/{tenant_id}/os-server-groups/{ServerGroup_id} -->
                    <resource id="ServerGroup_id" path="{ServerGroup_id}">
                        <param name="ServerGroup_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The server group
                                    ID.</para></wadl:doc>
                        </param>
                        <method href="#showServerGroup"/>
                    </resource>
                </resource>

        <!-- /v2/{tenant_id}/flavors                           -->
                <resource id="flavors" path="flavors">

        <!-- /v2/{tenant_id}/flavors/{flavor_id}               -->
                    <resource id="flavor_id" path="{flavor_id}" >
                        <param name="flavor_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The ID of the
                                   flavor of interest to you.
                               </para></wadl:doc>
                        </param>

        <!-- /v2/{tenant_id}/flavors/{flavor_id}/os-extra_specs -->
                        <resource id="os-extra-specs" path="os-extra_specs" >
                            <method href="#listExtra-specs"/>
                            <method href="#createExtra-spec"/>

        <!-- /v2/{tenant_id}/flavors/{flavor_id}/os-extra_specs/{key_id} -->
                            <resource id="key_id" path="{key_id}" >
                                <param name="key_id" style="template" type="xsd:string" 
                                    required="true">
                                    <wadl:doc
                                        xmlns="http://docbook.org/ns/docbook"
                                        xml:lang="EN"><para>The key of the
                                           extra-spec of interest to you.
                                       </para></wadl:doc>
                                </param>
                                <method href="#detailExtra-spec"/>

                            </resource>
                        </resource>
                    </resource>
                </resource>

        <!-- /v2/{tenant_id}/wrs-providernet                   -->
                <resource id="providerNet" path="wrs-providernet">
                    <method href="#listProviderNet"/>

        <!-- /v2/{tenant_id}/wrs-providernet/{providernet_id}  -->
                    <resource id="providerNetGet" path="{providernet_id}" >
                        <param name="providernet_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The ID of the
                                   provider network of interest to you.
                               </para></wadl:doc>
                        </param>
                        <method href="#getProviderNetworkDetail"/>
                    </resource>
                </resource>

        <!-- /v2/{tenant_id}/wrs-pci                           -->
                <resource id="pciDevice" path="wrs-pci">
                    <method href="#listPciDevice"/>

        <!-- /v2/{tenant_id}/wrs-pci/{device_id}  -->
                    <resource id="pciDeviceGet" path="{device_id}" >
                        <param name="device_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The device id of the
                                   pci device of interest to you.
                               </para></wadl:doc>
                        </param>
                        <method href="#getPciDeviceDetail"/>
                    </resource>
                </resource>
            </resource>

        <!-- /v2/os-hypervisors                           -->
            <resource id="Hypervisors" path="os-hypervisors">

        <!-- /v2/os-hypervisors/{hypervisor_id}               -->
                <resource id="hypervisor_id" path="{hypervisor_id}">
                    <param name="hypervisor_id" style="template"
                           type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The ID for the hypervisor of
                               interest to you.
                           </para></wadl:doc>
                    </param>
                    <method href="#ShowHypervisorDetail"/>
                </resource>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

    <!-- ..................................................... -->
    <!-- ..  Extensions                                     .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listComputeExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List extensions">
            <para role="shortdesc">Lists all extensions.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/extension_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>
    

    <method name="GET" id="getComputeExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get extension">
            <para role="shortdesc">Gets information about a specified extension.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/extension_get-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  Servers                                        .. -->
    <!-- ..................................................... -->

    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Server"><para
                role="shortdesc">Creates a server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc> 
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="networks" style="plain" type="xsd:list"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>A <code>networks</code> object. By default,
                            the server instance is provisioned with all
                            isolated networks for the tenant.</para>
                        <para>Optionally, you can create one or more NICs
                            on the server.</para>
                        <para>To provision the server instance with a NIC
                            for a <code>nova-network</code> network,
                            specify the UUID in the <code>uuid</code>
                            attribute in a <code>network</code>
                            object.</para>
                        <para>To provision the server instance with a NIC
                            for a <code>neutron</code> network, specify
                            the UUID in the <code>port</code> attribute in
                            a <code>network</code> object.</para>
                        <para><emphasis role='bold' >In Titanium Cloud, to optionally provision the vif model
                            of the NIC, specify the appropriate value in the 
                            <code>wrs-if:vif_model</code> attribute in the <code>network</code>
                            object.  Valid vif model values are: <code>e1000</code>,
                            <code>virtio</code>, <code>ne2k_pci</code>, <code>pcnet</code>,
                            <code>rtl8139</code>, <code>pci-passthrough</code>,
                            <code>pci-sriov</code>.  If not specified,
                            a vif model of <code>virtio</code> will be used.</emphasis></para>
                        <para>To provision the PCI address of the NIC, specify the appropriate
                              value in the <code>wrs-if:vif_pci_address</code> attribute in
                              the <code>network</code> object.  Valid PCI address values are in
                              the <code>domain:bus:slot.function</code> format.  If not specified, a PCI
                              address will be chosen by the hypervisor.</para>
                        <para>You can specify multiple NICs on the
                            server.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/server_add-request.json" />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> 
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/compute-v2-cgcs-ext/server_add-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="listServersDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List servers">
            <para role="shortdesc">Lists details of servers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="servers" style="plain" type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The list of <code>server</code> objects.</para>
                    </wadl:doc>
                </param>
                &serverParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/server-list-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getServerDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server">
            <para role="shortdesc">Shows details for a specified server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="server" style="plain" type="xsd:dict"  required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The requested <code>server</code> object.</para>
                    </wadl:doc>
                </param>
                &serverParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/server-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="POST" id="scaleServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Scale Server Up or Down">
            <para role="shortdesc">Allows the resources associated with the server
                (currently only the number of CPUs) to be scaled up and down without requiring
                a restart of the VM.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc> 
                <param xmlns="http://wadl.dev.java.net/2009/02" name="wrs-res:scale" 
                    style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify the <code>wrs-res:scale</code> action in the request body.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="direction" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Direction to scale, "up" or "down".  This will result in scaling the
                            specified resource by one unit in the specified direction.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="resource" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Resource to scale.  Currently only "cpu" is supported.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/server-scale-up-request.json" />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> 
    </method>


    <method name="POST" id="createInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Interface">
            <para role="shortdesc">Create Interface</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="wrs-if:vif_model"
                    style="plain" type="string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Requested VIF model.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/server-interface-attach-request.json" />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>


    <!-- ..................................................... -->
    <!-- ..  Hosts                                          .. -->
    <!-- ..................................................... -->

    <!--
    <method name="Put" id="updateOsHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update host">
            <para role="shortdesc">Updates a specified host.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-server-groups/server-groups-post-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-host:availability" style="plain" type="xsd:string"  required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Sets the availability status of the host; up or down.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-host:availability" style="plain" type="xsd:string"  required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability status of the host; up or down.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-host-update-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>
    -->




    <!-- ..................................................... -->
    <!-- ..  Server Groups                                  .. -->
    <!-- ..................................................... -->

    <method name="POST" id="createServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server group">
            <para role="shortdesc">Creates a server group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-server-groups/server-groups-post-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-sg:project_id" style="plain" type="csapi:UUID" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The project or tenant ID which owns this server group.  </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="policies" style="plain" type="xsd:list" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The scheduler policy to associate with the server
                            group. Modified by Titanium Cloud to include the following additional policy:</para>
                        <itemizedlist>
                            <listitem>
                                <para><code>wrs-sg:affinity-hyperthread</code> which will try to put servers 
                                    on the same compute node and have servers sharing sibling hyperthread 
                                    cores with each other, and only each other.  Server Groups using
                                    this policy are restriceted to a maximum of 2 members.</para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="metadata" style="plain" type="xsd:dict" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>This parameter specifies a dictionary of optional
                            metadata to be associated with the group.</para>
                        <para>Additional keys added by Titanium Cloud are: </para>
                        <itemizedlist>
                            <listitem>
                                <para><code>wrs-sg:best_effort</code> (where a value of 0 means 
                                that the scheduler policy will be strictly applied and a value of 1
                                means that the server will still be scheduled even if the
                                policy can't be met).</para>
                            </listitem>
                            <listitem>
                                <para><code>wrs-sg:group_size</code> (where the value is an integer 
                                specifying the max number of servers in the group).  </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="server_group" style="plain" type="xsd:dict"  required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The requested <code>server_group</code> object.</para>
                    </wadl:doc>
                </param>
                &serverGroupsParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-server-groups/server-groups-post-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="listServerGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List server groups">
            <para role="shortdesc">Lists server groups.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="server_groups" style="plain" type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The list of <code>server_group</code> objects.</para>
                    </wadl:doc>
                </param>
                &serverGroupsParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-server-groups/server-groups-list-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="showServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server group">
            <para role="shortdesc">Shows details for a specified server group.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="server_group" style="plain" type="xsd:dict"  required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The requested <code>server_group</code> object.</para>
                    </wadl:doc>
                </param>
                &serverGroupsParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/os-server-groups/server-groups-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>



    <!-- ..................................................... -->
    <!-- ..  Flavor Extra Specs                             .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listExtra-specs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List flavor extra specs">
            <para role="shortdesc">Lists the extra-specs or keys for
                the specified flavor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="extra_specs" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of flavor extra specs.</para>
                    </wadl:doc>
                </param>
                &flavorextraspecListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/compute-v2-cgcs-ext/flavor-extra-specs-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createExtra-spec">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create flavor extra specs">
            <para role="shortdesc">Creates extra-specs or keys for the
                specified flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="extra_specs" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of flavor extra specs.</para>
                    </wadl:doc>
                </param>
                &flavorextraspecListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/compute-v2-cgcs-ext/flavor-extra-specs-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &flavorextraspecListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/compute-v2-cgcs-ext/flavor-extra-specs-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="detailExtra-spec">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get flavor extra spec details">
            <para role="shortdesc">Gets the value of the specified
                key.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &flavorextraspecListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/compute-v2-cgcs-ext/flavor-extra-specs-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <!-- ..................................................... -->
    <!-- ..  Provider Network                               .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listProviderNet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List provider networks">
            <para role="shortdesc">List the provider networks (not supported).</para>
        </wadl:doc>
    </method>

    <method name="GET" id="getProviderNetworkDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show provider network">
            <para role="shortdesc">Show the details of a particular provider network.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernet" style="plain" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The requested <code>provider network</code> object.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The ID of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The name of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/providernet-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <!-- ..................................................... -->
    <!-- ..  Pci Device Usage                               .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listPciDevice">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List PCI device usage">
            <para role="shortdesc">List PCI device usage statistics.  This excludes network interface cards (NICs)</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="device_name" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The name of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="device_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The device id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vendor_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The vendor id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="class_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The class id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/pci-list-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="getPciDeviceDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show PCI device usage">
            <para role="shortdesc">Show the usage details of a particular PCI device.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="device_name" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The name of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="device_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The device id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vendor_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The vendor id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="class_id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The class id of device.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="host" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The name of the compute host.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_pfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used PCI devices (PFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_configured" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of configured SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pci_vfs_used" style="plain" type="xsd:integer">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of used SR-IOV PCI devices (VFs).</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/pci-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <!-- ..................................................... -->
    <!-- ..  Hypervisor Show                                .. -->
    <!-- ..................................................... -->

    <method name="GET" id="ShowHypervisorDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show hypervisor">
            <para role="shortdesc">Shows details for a specified hypervisor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="memory_mb_by_node" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>lists available memory, in Megabytes, based on page size (4K, 2M, 1G) 
                              on each NUMA node. The sum total must match the number reported in 
                              <code>memory_mb</code>.</para>
                   </wadl:doc>
                </param>

                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="memory_mb_used_by_node" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>lists memory currently in use, in Megabytes, based on page size
                              (4K, 2M, 1G) on each NUMA node. The sum total must match the 
                              number reported in <code>memory_mb_used</code>.</para>
                    </wadl:doc>
                </param>

                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vcpus_by_node" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>lists available vcpus, on each NUMA node. The sum total must 
                              match the quantity reported by <code>vcpus</code>.</para>
                    </wadl:doc>
                </param>

                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vcpus_used_by_node" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>lists vcpus currently in use, on each NUMA node. The sum total must
                              match the quantity reported by <code>vcpus_used</code>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/compute-v2-cgcs-ext/hypervisor-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

</application>
