restapi-doc/restapi-doc/api-ref/src/wadls/volume-api/v2/cgcs-ext/volume-v2-cgcs-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2015-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
<!-- REMOVED xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2" -->

    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->

    <resources base="https://windriver.com/cgcs-restapi/cinder" xml:id="volume-v2-cgcs-ext">

        <!-- /v2                                               -->
        <resource id="version" type="#VersionDetails" path="//v2">

        <!-- /v2/{tenant_id}                                   -->
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>

        <!-- /v2/{tenant_id}/extensions                                    -->
                <resource id="extensions" path="extensions">
                    <method href="#listExtensions"/>
        <!-- /v2/{tenant_id}/extensions/{extension_alias}               -->
                    <resource path="{extension_alias}" id="extensionget">
                        <param name="extension_alias" style="template"
                            type="xsd:string">
                           <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"><para>The alias for the extension 
                                   to list.</para>
                           </wadl:doc>
                        </param>
                        <method href="#getExtension"/>
                    </resource>
                </resource>


        <!-- /v2/{tenant_id}/volumes                           -->
                <resource id="volumes" path="volumes">
        <!-- /v2/{tenant_id}/volumes/detail                    -->
                    <resource path="detail" id="volumedetail">
                        <method href="#getAllvolumeDetail"/>
                    </resource>     
        <!-- /v2/{tenant_id}/volumes/{volume_id}               -->
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            type="csapi:UUID">
                           <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"><para>The ID for the volume 
                                   to list.</para>
                           </wadl:doc>
                        </param>
                        <method href="#getVolumeDetail"/>
        <!-- /v2/{tenant_id}/volumes/{volume_id}/action        -->
                        <resource path="action" id="volumeaction">
                            <method href="#actionVolume"/>
                        </resource>    
                    </resource>
                </resource>
        <!-- /v2/{tenant_id}/snapshots                           -->
                <resource id="snapshots" path="snapshots">
        <!-- /v2/{tenant_id}/snapshots/detail                    -->
                    <resource path="detail" id="snapshotdetail">
                        <method href="#getAllSnapshotDetail"/>
                    </resource>     
        <!-- /v2/{tenant_id}/snapshots/{snapshot_id}               -->
                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template"
                            type="csapi:UUID">
                           <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"><para>The ID for the snapshot 
                                   to list.</para>
                           </wadl:doc>
                        </param>
                        <method href="#getSnapshotDetail"/>
        <!-- /v2/{tenant_id}/snapshots/{snapshot_id}/action        -->
                        <resource path="action" id="snapshotaction">
                            <method href="#actionSnapshot"/>
                        </resource>    
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>Details for a version.</para>
        </wadl:doc>
        <method href="#versionDetails"/>
    </resource_type>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->
    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List extensions">
            <para role="shortdesc">Lists all extensions.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/volume-v2-cgcs-ext/extension_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>
    

    <method name="GET" id="getExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get extension">
            <para role="shortdesc">Gets information about a specified extension.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/volume-v2-cgcs-ext/extension_get-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getAllvolumeDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get information about system volumes">
            <para role="shortdesc">Get information about system volumes.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume must exist in all case.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-volume:backup_status" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates backup status.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/volume_list_detail_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumeDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get information about a specified volume">
            <para role="shortdesc">Get information about a specified volume.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume must exist in all case.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-volume:backup_status" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates backup status.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/volume_show_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>


    <method name="POST" id="actionVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Executes the specified action or command
                on the specified volume.">
            <para role="shortdesc">Executes the specified action or command
                on the specified volume.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume must exist in all case.</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-volume:os-volume_export" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Export volume to a file
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-volume:os-volume_import" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Import a volume from a file
                        </para>
                         <itemizedlist>
                             <listitem><para>file_name: "VolumeExportName.tgz".</para></listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_type" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume type.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="updated_at" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates when the action was performed.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="status" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the state of the export or import action.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" type="csapi:UUID" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume UUID.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Volume descrition if any.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="size" style="plain" type="xsd:int" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume size in Gbyte.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/action-volume-request.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getAllSnapshotDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get information about system volume snapshots.">
            <para role="shortdesc">Get information about system volume snapshots.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume snapshot must exist in all case.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-snapshot:backup_status" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates backup status.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/snapshot_list_detail_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get information of a specific volume snapshot.">
            <para role="shortdesc">Get information of a specific volume snapshot.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume snapshot must exist in all case.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-snapshot:backup_status" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates backup status.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/snapshot_show_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>


    <method name="POST" id="actionSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Executes the specified action or command
                on the specified volume snapshot.">
            <para role="shortdesc">Executes the specified action or command
                on the specified volume snapshot.</para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified volume snapshot must exist in all case.</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"> sn
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-snapshot:os-snapshot_export" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Export volume snapshot to a file
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_type" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume type.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="updated_at" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates when the action was performed.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="status" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the state of the volume snapshot export action.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume UUID.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_description" style="plain" type="xsd:string" 
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Volume descrition if any.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="volume_size" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the volume size in Gbyte.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/volume-v2-cgcs-ext/action-snapshot-request.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
