restapi-doc/restapi-doc/api-ref/src/wadls/networking-api/v2/cgcs-ext/networking-v2-cgcs-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
<!-- REMOVED xmlns:csapi="http://docs.openstack.org/networking/api/v2" -->


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->

    <resources base="https://windriver.com/cgcs-restapi/neutron/"
        xml:id="networking-v2-cgcs-ext">

        <!-- /v2.0                                               -->
        <resource id="version" type="#VersionDetails" path="//v2.0">

        <!-- /v2/extensions                                    -->
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
        <!-- /v2/extensions/{extension_alias}                  -->
                 <resource path="{extension_alias}" id="extensionget">
                     <param name="extension_alias" style="template"
                         type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The alias for the extension 
                                to list.</para>
                        </wadl:doc>
                     </param>
                     <method href="#getExtension"/>
                 </resource>
            </resource>

        <!-- /v2.0/wrs-provider                                  -->
            <resource id="wrs-provider" path="wrs-provider">

        <!-- /v2.0/wrs-provider/providernets                                  -->
                <resource id="providernets" path="providernets">
                    <method href="#listProvidernets"/>
                    <method href="#createProvidernet"/>

        <!-- /v2.0/wrs-provider/providernets/{providernet_id}                 -->
                    <resource id="providernet_id" path="{providernet_id}">
                        <param name="providernet_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID for a provider network.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getProvidernet"/>
                        <method href="#updateProvidernet"/>
                        <method href="#deleteProvidernet"/>

        <!-- /v2.0/wrs-provider/providernets/{providernet_id}/providernet-bindings  -->
                        <resource id="providernet_bindings" path="providernet-bindings">
                          <method href="#listNetworksOnProviderNet"/>
                        </resource>
                    </resource>
                </resource>


        <!-- /v2.0/wrs-provider/providernet-ranges                                  -->
                <resource id="providernetranges" path="providernet-ranges">
                    <method href="#listProvidernetranges"/>
                    <method href="#createProvidernetrange"/>

        <!-- /v2.0/wrs-provider/providernet-ranges/{providernet-range_id}                 -->
                    <resource id="providernetrange_id" path="{providernet-range_id}">
                        <param name="providernetrange_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID for a provider network segmentation range.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getProvidernetrange"/>
                        <method href="#updateProvidernetrange"/>
                        <method href="#deleteProvidernetrange"/>
                    </resource>
                </resource>


        <!-- /v2.0/wrs-provider/providernet-types                                  -->
                <resource id="providernettypes" path="providernet-types">
                    <method href="#listProvidernettypes"/>
                </resource>

        <!-- /v2.0/wrs-provider/providernet-connectivity-tests                                  -->
                <resource id="providernetconnectivitytests" path="providernet-connectivity-tests">
                    <method href="#listProvidernetconnectivitytests"/>
                    <method href="#scheduleProvidernetconnectivitytest"/>
                </resource>

            </resource>

        <!-- /v2.0/hosts                                  -->
            <resource id="hosts" path="hosts">
                <method href="#listHosts"/>
                <method href="#createHost"/>

        <!-- /v2.0/hosts/{host_id}                 -->
                <resource id="host_id" path="{host_id}">
                    <param name="host_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The ID for a host running neutron services.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getHost"/>
                    <method href="#updateHost"/>
                    <method href="#deleteHost"/>

                </resource>
            </resource>


        <!-- /v2.0/wrs-tenant                                           -->
            <resource id="wrs-tenant" path="wrs-tenant">
        <!-- /v2.0/wrs-tenant/settings                                  -->
                <resource id="settings" path="settings">
                    <method href="#listSettings"/>
        <!-- /v2.0/wrs-tenant/settings/{tenant_id}                 -->
                    <resource id="tenant_id" path="{tenant_id}">
                        <param name="tenant_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID for a tenant.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getSetting"/>
                        <method href="#updateSetting"/>
                        <method href="#deleteSetting"/>
                    </resource>

                </resource>

            </resource>


        <!-- /v2.0/wrs-tm                                 -->
            <resource id="wrs-tm" path="wrs-tm">

        <!-- /v2.0/wrs-tm/qoses                                  -->
                <resource id="qoses" path="qoses">
                    <method href="#listQoses"/>
                    <method href="#createQos"/>

        <!-- /v2.0/wrs-tm/qoses/{qos_id}                 -->
                    <resource id="qos_id" path="{qos_id}">
                        <param name="qos_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID for a QOS Policy.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getQos"/>
                        <method href="#updateQos"/>
                        <method href="#deleteQos"/>
                    </resource>

                </resource>

            </resource>


        <!-- /v2.0/networks                              -->
            <resource id="networks" path="networks">
                <method href="#listNetworks"/>
                <method href="#createNetwork"/>

        <!-- /v2.0/networks/{network_id}                  -->
                <resource path="{network_id}" id="network_id">
                    <param name="network_id" style="template" type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Network ID">
                            <para>The UUID for a network.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showNetwork"/>

                </resource>
            </resource>


        <!-- /v2.0/subnets                              -->
            <resource id="subnets" path="subnets">
                <method href="#listSubnets"/>
                <method href="#createSubnet"/>

        <!-- /v2.0/subnets/{subnet_id}                  -->
                <resource path="{subnet_id}" id="subnet_id">
                    <param name="subnet_id" style="template" type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Subnet ID">
                            <para>The UUID for a subnet.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getSubnet"/>

                </resource>
            </resource>


        <!-- /v2.0/ports                                -->
            <resource id="ports" path="ports">
                <method href="#listPorts"/>

        <!-- /v2.0/ports/{port_id}                      -->
                <resource path="{port_id}" id="port_id">
                    <param name="port_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Port ID">
                            <para>The UUID for a port.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showPort"/>

                </resource>
            </resource>


        <!-- /v2.0/routers                              -->
            <resource id="routers" path="routers">
                <method href="#listRouters"/>

        <!-- /v2.0/routers/{router_id}                  -->
                <resource path="{router_id}" id="router_id">
                    <param
                        xmlns="http://wadl.dev.java.net/2009/02"
                        name="router_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Router ID">
                            <para>The UUID for a router.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showRouter"/>

                </resource>
            </resource>

        <!-- /v2.0/portforwarding                  -->
            <resource id="portforwardings" path="portforwardings">
                <method href="#listPortForwardings"/>
                <method href="#createPortForwarding"/>

        <!-- /v2.0/portforwardings/{portforwarding_id}                 -->
                <resource id="portforwarding_id" path="{portforwarding_id}">
                    <param name="portforwarding_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The ID for a virtual router port forwarding rule.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showPortForwarding"/>
                    <method href="#updatePortForwarding"/>
                    <method href="#deletePortForwarding"/>

                </resource>
            </resource>

        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

    <!-- ..................................................... -->
    <!-- ..  Extensions                                     .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List extensions">
            <para role="shortdesc">Lists all extensions.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/extension_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="getExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get extension">
            <para role="shortdesc">Gets information about a specified extension.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/extension_get-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  Provider Nets                                  .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listProvidernets">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List provider networks">
            <para role="shortdesc">Lists all provider networks.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernets" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of provider networks.</para>
                    </wadl:doc>
                </param>
                &providernetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getProvidernet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show provider network">
            <para role="shortdesc">Shows detailed information about a specific provider network.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="PUT" id="updateProvidernet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify provider network">
            <para role="shortdesc">Modifies a specific provider network.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>User defined description of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vlan_transparent" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Specifies whether VLAN transparent network are supported on this provider network.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="POST" id="createProvidernet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create provider network">
            <para role="shortdesc">Creates a provider network.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>User defined description of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined name of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The encapsulation type of the provider network.  Valid values are: <code>vlan</code>, <code>flat</code></para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vlan_transparent" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Specifies whether VLAN transparent network are supported on this provider network.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="DELETE" id="deleteProvidernet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete provider network">
            <para role="shortdesc">Deletes a specific provider network.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>



    <!-- ..................................................... -->
    <!-- ..  Provider Net Ranges                            .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listProvidernetranges">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List provider network ranges">
            <para role="shortdesc">Lists all provider network ranges.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernetranges" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of provider network ranges.</para>
                    </wadl:doc>
                </param>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getProvidernetrange">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show provider network range">
            <para role="shortdesc">Shows detailed information about a specific provider network range.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="PUT" id="updateProvidernetrange">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify provider network range">
            <para role="shortdesc">Modifies a specific provider network range.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>User defined description of the provider network segmentation range.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="maximum" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The upper bound of the segmentation range (inclusive).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="minimum" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The lower bound of the segmentation range (inclusive).</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="POST" id="createProvidernetrange">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create provider network range">
            <para role="shortdesc">Creates a provider network range.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>User defined description of the provider network segmentation range.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="maximum" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The upper bound of the segmentation range (inclusive).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="minimum" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The lower bound of the segmentation range (inclusive).</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined name of the provider network segmentation range.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-range-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="DELETE" id="deleteProvidernetrange">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete provider network range">
            <para role="shortdesc">Deletes a specific provider network range.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>


    <!-- ..................................................... -->
    <!-- ..  Provider Net Types                             .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listProvidernettypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List provider network types">
            <para role="shortdesc">Lists all supported providernet types.</para>
            <para>Insert extra description here, if required.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernettypes" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of supported providernet types.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>System description of the provider network type.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The encapsulation type of the provider network.  Valid values are: <code>vlan</code>, <code>flat</code></para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-type-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <!-- ..................................................... -->
    <!-- ..  Provider Net Connectivity Tests                .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listProvidernetconnectivitytests">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List provider network connectivity test results">
            <para role="shortdesc">Lists results of providernet connectivity tests.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernet_connectivity_tests" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>List of providernet connectivity test results.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-connectivity-test-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="POST" id="scheduleProvidernetconnectivitytest">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Schedule provider network connectivity test">
            <para role="shortdesc">Schedule providernet connectivity test to be run, and return scheduled UUID.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernet_name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Run audit for a given providernet identified by name.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernet_id" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Run audit for a given providernet identified by ID.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="host_name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Run audit for all providernets on a given host identified by name.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="host_id" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Run audit for all providernets on a given host identified by ID.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="segmentation_id" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Restrict audit to these segmentation IDs.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-connectivity-test-schedule_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="audit_uuid" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Unique ID assigned to the audit.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/providernet-connectivity-test-schedule_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>



    <!-- ..................................................... -->
    <!-- ..  Hosts                                          .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listHosts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List hosts">
            <para role="shortdesc">Lists all hosts providing neutron services.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="hosts" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of host entities with neutron services.</para>
                    </wadl:doc>
                </param>
                &hostListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show host">
            <para role="shortdesc">Shows detailed information about a specific host providing neutron services.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &hostListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="POST" id="createHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a host record">
            <para role="shortdesc">Creates a record for a host providing neutron services.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="availability" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The current availability state of the host.  Valid values are: <code>UP</code> or <code>DOWN</code></para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined name assigned to the host.  This should normally match the system hostname of the host node.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>

    <method name="PUT" id="updateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update a host record">
            <para role="shortdesc">Updates a host record.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="availability" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The current availability state of the host.  Valid values are: <code>up</code> or <code>down</code></para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/host-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>

    <method name="DELETE" id="deleteHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete provider network range">
            <para role="shortdesc">Deletes a specific host record.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>

    <!-- ..................................................... -->
    <!-- ..  Settings                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listSettings">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List settings">
            <para role="shortdesc">Lists all tenant network settings.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="settings" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of tenant network settings.</para>
                    </wadl:doc>
                </param>
                &settingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/setting-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getSetting">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show setting">
            <para role="shortdesc">Shows detailed information about a specific tenant network setting.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &settingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/setting-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="PUT" id="updateSetting">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify setting">
            <para role="shortdesc">Modifies a specific tenant network setting.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="mac_filtering" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The state of the source MAC filtering feature for the 
                        specified tenant.  The current state of the feature only affects 
                        newly launched VM instances.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/setting-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &settingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/setting-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="DELETE" id="deleteSetting">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete setting">
            <para role="shortdesc">Deletes a specific tenant network setting.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>


    <!-- ..................................................... -->
    <!-- ..  QOS Policy                                     .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listQoses">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List QOS policies">
            <para role="shortdesc">Lists all QOS policies.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="Qoses" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of QOS policies.</para>
                    </wadl:doc>
                </param>
                &qosListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="getQos">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show QOS policy">
            <para role="shortdesc">Shows detailed information about a specific QOS policy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &qosListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="PUT" id="updateQos">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify QOS policy">
            <para role="shortdesc">Modifies a specific QOS policy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined description of the QoS policy.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="policies" style="plain" type="xsd:dict" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The set of scheduler policies and weights for the QoS policy.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &qosListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="POST" id="createQos">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create QOS policy">
            <para role="shortdesc">Creates a QOS policy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined description of the QoS policy.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined name of the QoS policy.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="policies" style="plain" type="xsd:dict" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The set of scheduler policies and weights for the QoS policy.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenant_id" style="plain" type="csapi:UUID" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The unique UUID of the tenant to which this policy is assigned.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &qosListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/qos-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <method name="DELETE" id="deleteQos">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete QOS policy">
            <para role="shortdesc">Deletes a specific QOS policy.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>



    <!-- ..................................................... -->
    <!-- ..  Networks                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks that are accessible
                to the tenant who submits the reequest.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="networks" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of tenant networks.</para>
                    </wadl:doc>
                </param>
                &netListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/net-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; 
    </method>

    <method name="GET" id="listNetworksOnProviderNet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks implemented by a provider network">
            <para role="shortdesc">Lists networks that are implemented by a given provider network.  Each network is listed with its assigned provider network segmentation identifier.  If the network has any tagged subnets then they will be listed as separate entities with their corresponding provider network segmentation identifier.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="networks" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of tenant networks.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" type="csapi:UUID" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The unique UUID value of the tenant network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The user defined name of the tenant network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="providernet_type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The encapsulation type of the provider network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="segmentation_id" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The provider network segmentation identifier that is assigned to this tenant network.  If the <code>vlan_id</code> attribute is non-zero then the <code>segmentation_id</code> represents that identifier which has been associated to a tagged subnet on the listed tenant network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vlan_id" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The VLAN identifier which has been configured on the tenant subnet.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/net-list-on-providernet_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; 
    </method>

    <method name="GET" id="showNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show network">
            <para role="shortdesc">Shows information for a specified
                network.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &netListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/net-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; 
    </method>

    <method name="POST" id="createNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a network record">
            <para role="shortdesc">Creates a tenant network.</para>
            &standardApiDescription;
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="qos" style="plain" type="csapi:UUID" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The unique UUID of the assigned QoS policy.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/net-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &providernetrangeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/net-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  Subnets                                        .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listSubnets">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List subnets">
            <para role="shortdesc">Lists subnets that are accessible
                to the tenant who submits the request.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="subnets" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of subnets.</para>
                    </wadl:doc>
                </param>
                &subnetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/subnet-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; 
    </method>

    <method name="POST" id="createSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create subnet">
            <para role="shortdesc">Creates a subnet on a specified
                network.</para>
            &standardApiDescription;
        </wadl:doc>
        <request> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-net:managed" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates whether IP address allocation is managed by the system or by the customer.</para>
                        <para>If <code>true</code> then the system allocates IP addresses when ports are created and attached to VM instances.</para>
                        <para>If <code>false</code> then the system will not assign any IP addresses automatically.  This implies that if the system cannot allocate any IP addresses that it also cannot allocate a DHCP server, manage allocation pools, or server DNS nameservers or static routers.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-net:vlan_id" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The VLAN ID to be used in the VM instance.  If the VLAN ID is 0 then all packets originated from the VM instance are expected to be untagged.  If the VLAN ID value is non zero than it is expected that all packets originated by the VM must be tagged with the corresponding VLAN ID value.   Any other value will be discarded by the host vswitch.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-provider:network_type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The type of physical network that maps to this subnet resource.  For example, <code>flat</code>, <code>vlan</code>, or <code>vxlan</code>. The value specified must match the equivalent attribute value on the parent network resource.</para>
                        <para><emphasis role="bold" >Only available to admin users.</emphasis></para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-provider:physical_network" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The physical network where this subnet object is implemented.  The value specified must match the equivalent attribute value on the parent network resource.</para>
                        <para><emphasis role="bold" >Only available to admin users.</emphasis></para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="wrs-provider:segmentation_id" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>An isolated segment on the physical network reserved for this subnet resource.  The <code>network_type</code> attribute defines the segmentation model.  For example, if the <code>network_type</code> is vlan, this ID is a vlan identifier.  If the <code>network_type</code> value is vxlan, this ID is a vxlan VNI value.  All subnets on a specific network that share the same <code>wrs-net:vlan_id</code> attribute value must have the same <code>segmentation_id</code> attribute value.</para>
                        <para><emphasis role="bold" >Only available to admin users.</emphasis></para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/subnet-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &subnetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/subnet-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault403; &fault404;
        &fault409conflict; 
    </method>

    <method name="GET" id="getSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show subnet">
            <para role="shortdesc">Shows information for a specified
                subnet.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="201"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &subnetListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/subnet-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; 
    </method>


    <!-- ..................................................... -->
    <!-- ..  Ports                                          .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listPorts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List ports">
            <para role="shortdesc">Lists ports to which the tenant has
                access.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="ports" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of ports.</para>
                    </wadl:doc>
                </param>
                &portListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/port-list_admin_response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; 
    </method>

    <method name="GET" id="showPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show port">
            <para role="shortdesc">Shows information for a specified
                port.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &portListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/port-show_admin_response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; 
    </method>



    <!-- ..................................................... -->
    <!-- ..  Routers                                        .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listRouters">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List routers">
            <para role="shortdesc">Lists logical routers that are
                accessible to the tenant who submits the
                request.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="routers" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of virtual routers.</para>
                    </wadl:doc>
                </param>
                &routerListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/router-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; 
    </method>

    <method name="GET" id="showRouter">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show router details">
            <para role="shortdesc">Shows details for a specified
                router.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200"> 
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &routerListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/networking-v2-cgcs-ext/router-show_admin_response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault403; &fault404; 
    </method>

    <!-- ..................................................... -->
    <!-- ..  Port Forwarding                                .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listPortForwardings">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List port forwarding rules">
            <para role="shortdesc">Lists all virtual router port forwarding rules.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="portforwardings" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of virtual router port forwarding rules.</para>
                    </wadl:doc>
                </param>
                &portForwardingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-list_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="showPortForwarding">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show port forwarding rule">
            <para role="shortdesc">Shows detailed information about a specific virtual router port forwarding rule.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &portForwardingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-show_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="POST" id="createPortForwarding">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a port forwarding rule">
            <para role="shortdesc">Creates a record for a virtual router port forwarding rule.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="router_id" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The virtual router on which to create the port forwarding rule</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="inside_addr" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The internal (private) address which is the final destination of the forwarding rule.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="inside_port" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The internal (private) layer4 protocol port number.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="outside_port" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The external (public) address which is the initial destination of the forwarding rule.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="protocol" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The layer4 protocol name; valid values are: <code>udp</code>, <code>tcp</code>, <code>udp-lite</code>, <code>sctp</code>, <code>dccp</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>A user defined description string.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-create_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &portForwardingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-create_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>

    <method name="PUT" id="updatePortForwarding">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update a virtual router port forwarding rule">
            <para role="shortdesc">Updates a virtual router port forwarding rule.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="inside_addr" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The internal (private) address which is the final destination of the forwarding rule.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="inside_port" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The internal (private) layer4 protocol port number.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="outside_port" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The external (public) address which is the initial destination of the forwarding rule.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="protocol" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The layer4 protocol name; valid values are: <code>udp</code>, <code>tcp</code>, <code>udp-lite</code>, <code>sctp</code>, <code>dccp</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>A user defined description string.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-update_admin_request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &portForwardingListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/networking-v2-cgcs-ext/portforwarding-update_admin_response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>

    <method name="DELETE" id="deletePortForwarding">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete a virtual router port forwarding rule">
            <para role="shortdesc">Deletes a specific virtual router port forwarding rule.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>

</application>
