restapi-doc/restapi-doc/api-ref/src/wadls/nfv-vim-api/v1/nfv-vim-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    >


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->


    <resources base="https://windriver.com/cgcs-restapi/api" xml:id="orchestration-v1">

        <!-- /                                                              -->
        <resource id="nfv-vim" path="//">
            <method href="#listLinks-nfv-vim"/>
        </resource>

        <!-- /api                                                           -->
        <resource id="api" path="//api">
            <method href="#listVersions-nfv-vim-api"/>
        </resource>

        <!-- /api/orchestration                                             -->
        <resource id="orchestration" path="//api/orchestration">
            <method href="#listLinks-orchestration"/>
        </resource>

        <!-- /api/orchestration/sw-patch                                    -->
        <resource id="sw-patch" path="//api/orchestration/sw-patch">
            <method href="#listLinks-sw-patch"/>
        </resource>

        <!-- /api/orchestration/sw-upgrade                                  -->
        <resource id="sw-upgrade" path="//api/orchestration/sw-upgrade">
            <method href="#listLinks-sw-upgrade"/>
        </resource>

        <!-- /api/orchestration/sw-patch/strategy                           -->
        <resource id="patch-strategy" path="//api/orchestration/sw-patch/strategy">
            <method href="#getPatchStrategy"/>
            <method href="#createPatchStrategy"/>
            <method href="#deletePatchStrategy"/>
        </resource>

        <!-- /api/orchestration/sw-patch/strategy/actions                   -->
        <resource id="patch-strategy-actions" path="//api/orchestration/sw-patch/strategy/actions">
            <method href="#patchStrategyActions"/>
        </resource>

        <!-- /api/orchestration/sw-upgrade/strategy                         -->
        <resource id="upgrade-strategy" path="//api/orchestration/sw-upgrade/strategy">
            <method href="#getUpgradeStrategy"/>
            <method href="#createUpgradeStrategy"/>
            <method href="#deleteUpgradeStrategy"/>
        </resource>

        <!-- /api/orchestration/sw-upgrade/strategy/actions                 -->
        <resource id="upgrade-strategy-actions" path="//api/orchestration/sw-upgrade/strategy/actions">
            <method href="#upgradeStrategyActions"/>
        </resource>

    </resources>


    <!--*******************************************************-->
    <!--               RESOURCE TYPES                          -->
    <!--*******************************************************-->


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

    <!-- ..................................................... -->
    <!-- ..  Versions                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listLinks-nfv-vim">
        <wadl:doc xml:lang="EN" title="List nfv vim links" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all NFV VIM links.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/nfv-vim-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="listVersions-nfv-vim-api">
        <wadl:doc xml:lang="EN" title="List nfv vim API versions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all NFV VIM API versions.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/nfv-vim-api-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="listLinks-orchestration">
        <wadl:doc xml:lang="EN" title="List nfv vim API orchestration links" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all NFV VIM API orchestration links.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/orchestration-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="listLinks-sw-patch">
        <wadl:doc xml:lang="EN" title="List nfv vim API orchestration sw-patch links" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all NFV VIM API orchestration sw-patch links.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/sw-patch-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="listLinks-sw-upgrade">
        <wadl:doc xml:lang="EN" title="List nfv vim API orchestration sw-upgrade links" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all NFV VIM API orchestration sw-upgrade links.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/sw-upgrade-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <!-- ..................................................... -->
    <!-- ..  Patch Strategy                                 .. -->
    <!-- ..................................................... -->

    <method name="GET" id="getPatchStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get patch strategy">
            <para role="shortdesc">Shows detailed information about the current sw-patch strategy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/get-patch-strategy-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="POST" id="createPatchStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create patch strategy">
            <para role="shortdesc">Creates a sw-patch strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="controller-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for controller hosts: <code>serial</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="storage-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for storage hosts: <code>serial</code>, <code>parallel</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="compute-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for compute hosts: <code>serial</code>, <code>parallel</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="max-parallel-compute-hosts" style="plain" type="xsd:integer" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The maximum number of compute hosts to patch in parallel; only applicable if <code>compute-apply-type = parallel</code>. Default value is <code>2</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="swift-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for swift hosts: <code>serial</code>, <code>parallel</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="default-instance-action" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The default instance action: <code>stop-start</code> or <code>migrate</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="alarm-restrictions" style="plain" type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The strictness of alarm checks: <code>strict</code> or <code>relaxed</code>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/create-patch-strategy-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/create-patch-strategy-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="POST" id="patchStrategyActions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Patch strategy actions">
            <para role="shortdesc">Applies or aborts a sw-patch strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="action" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The action to take: <code>apply-all</code>, <code>apply-stage</code>, <code>abort</code> or <code>abort-stage</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="stage-id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The stage-id to apply or abort. Only used with <code>apply-stage</code> or <code>abort-stage</code> actions.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch-strategy-action-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch-strategy-action-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="DELETE" id="deletePatchStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete patch strategy">
            <para role="shortdesc">Deletes the current sw-patch strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/delete-patch-strategy-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>

    <!-- ..................................................... -->
    <!-- ..  Upgrade Strategy                                 .. -->
    <!-- ..................................................... -->

    <method name="GET" id="getUpgradeStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get upgrade strategy">
            <para role="shortdesc">Shows detailed information about the current sw-upgrade strategy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/get-upgrade-strategy-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="POST" id="createUpgradeStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create upgrade strategy">
            <para role="shortdesc">Creates a sw-upgrade strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="storage-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for storage hosts: <code>serial</code>, <code>parallel</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="compute-apply-type" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The apply type for compute hosts: <code>serial</code>, <code>parallel</code> or <code>ignore</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="max-parallel-compute-hosts" style="plain" type="xsd:integer" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The maximum number of compute hosts to upgrade in parallel; only applicable if <code>compute-apply-type = parallel</code>. Default value is <code>2</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="alarm-restrictions" style="plain" type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The strictness of alarm checks: <code>strict</code> or <code>relaxed</code>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/create-upgrade-strategy-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/create-upgrade-strategy-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="POST" id="upgradeStrategyActions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Upgrade strategy actions">
            <para role="shortdesc">Applies or aborts a sw-upgrade strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="action" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The action to take: <code>apply-all</code>, <code>apply-stage</code>, <code>abort</code> or <code>abort-stage</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="stage-id" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The stage-id to apply or abort. Only used with <code>apply-stage</code> or <code>abort-stage</code> actions.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/upgrade-strategy-action-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/upgrade-strategy-action-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="DELETE" id="deleteUpgradeStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete upgrade strategy">
            <para role="shortdesc">Deletes the current sw-upgrade strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/delete-upgrade-strategy-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>

</application>
