restapi-doc/restapi-doc/api-ref/src/wadls/telemetry-api/v2/cgcs-ext/telemetry-v2-cgcs-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
<!-- REMOVED xmlns:csapi="http://docs.openstack.org/telemetry/api/v2" -->


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->

    <resources base="https://windriver.com/cgcs-restapi/ceilometer/"
        xml:id="telemetry-v2-cgcs-ext">

        <!-- /v2                                               -->
        <resource id="version" type="#VersionDetails" path="//v2">

        <!-- /v2/extensions                                    -->
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
        <!-- /v2/extensions/{extension_alias}                  -->
                 <resource path="{extension_alias}" id="extensionget">
                     <param name="extension_alias" style="template"
                         type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The alias for the extension 
                                to list.</para>
                        </wadl:doc>
                     </param>
                     <method href="#getExtension"/>
                 </resource>
            </resource>

        <!-- /v2/metertypes -->
            <resource id="metertypes" path="wrs-metertypes">
                <method href="#listMeterTypes"/>
            </resource>

        <!-- /v2/wrs-pipelines                                     -->
            <resource id="pipelines" path="wrs-pipelines">
                <method href="#listPipelines"/>

        <!-- /v2/wrs-pipelines/{pipeline_id}                       -->
                <resource id="pipeline_id" path="{pipeline_id}">
                    <param name="pipeline_id" style="template"
                        type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The name for the pipeline.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getPipeline"/>
                    <method href="#modifyPipeline"/>
                </resource>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List extensions">
            <para role="shortdesc">Lists all extensions.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/extension_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="getExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get extension">
            <para role="shortdesc">Gets information about a specified extension.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &extensionListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/extension_get-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="listMeterTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List metertypes">
            <para role="shortdesc">Lists meter types.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                 <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates name of the Meter Type</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates type of the Meter Type</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="unit" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates unit of the Meter Type</para>
                    </wadl:doc>
                </param>

            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/metertype_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="listPipelines">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List pipelines">
            <para role="shortdesc">Lists all pipelines.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &pipelineListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/pipeline_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="getPipeline">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show pipeline">
            <para role="shortdesc">Shows detailed information about a specific pipeline that outputs to CSV.</para>
            <para></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &pipelineListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/pipeline_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="PUT" id="modifyPipeline">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify pipeline">
            <para role="shortdesc">Modifies a specific pipeline.</para>
            <para>Performance of the entire system can be impacted by storing too much data to CSV</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &pipelineListUpdateParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/pipeline_modify-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &pipelineListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/telemetry-v2-cgcs-ext/pipeline_modify-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


</application>
