restapi-doc/restapi-doc/api-ref/src/wadls/dcmanager-api/v1/dcmanager-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2018 Wind River Systems, Inc.

  SPDX-License-Identifier: Apache-2.0 
-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    >


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->


    <resources base="https://windriver.com/cgcs-restapi/dcmanager/" xml:id="dcmanager-v1.0">

        <!-- /                                                 -->
        <resource id="versions" path="/">
            <method href="#listVersions-dcmanager-v1"/>

        <!-- /v1.0                                               -->
            <resource id="version" type="#VersionDetails" path="v1.0">

        <!-- /v1.0/subclouds                                      -->
                <resource id="subclouds" path="subclouds">
                    <method href="#listSubclouds"/>
                    <method href="#addSubcloud"/>


        <!-- /v1.0/subclouds/{subcloud}                        -->
                    <resource id="subcloud" path="{subcloud}" >
                        <param name="subcloud" style="template" required="true" type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The subcloud reference, name or id.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getSubcloud"/>
                        <method href="#updateSubcloud"/>
                        <method href="#deleteSubcloud"/>


        <!-- /v1.0/subclouds/{subcloud}/config       -->
                        <resource id="subcloud_config" path="config" >
                            <method href="#generateConfig"/>
                        </resource>
                    </resource>
                </resource>

        <!-- /v1.0/alarms                                      -->
                <resource id="alarms" path="alarms">
                    <method href="#summarizeAlarms"/>
                </resource>

        <!-- /v1.0/sw-update-strategy                              -->
                <resource id="sw-update-strategy" path="sw-update-strategy">
                    <method href="#getSwUpdateStrategy"/>
                    <method href="#createSwUpdateStrategy"/>
                    <method href="#deleteSwUpdateStrategy"/>


        <!-- /v1.0/sw-update-strategy/actions                        -->
                    <resource id="sw-update-strategy-actions" path="actions">
                        <method href="#actionSwUpdateStrategy"/>
                    </resource>
 
        <!-- /v1.0/sw-update-strategy/steps                        -->
                    <resource id="sw-update-strategy-steps" path="steps">
                        <method href="#listSwUpdateStrategySteps"/>

        <!-- /v1.0/sw-update-strategy/steps/{cloud_name}                        -->
                        <resource id="sw-update-strategy-steps-cloud" path="{cloud_name}">
                            <method href="#getSwUpdateStrategySteps"/>
                        </resource>
                    </resource>
                </resource>
        <!-- /v1.0/sw-update-options                              -->
                <resource id="sw-update-options" path="sw-update-options">
                    <method href="#listSwUpdateOptions"/>

        <!-- /v1.0/sw-update-options/{subcloud}                        -->
                    <resource id="sw-update-options_subcloud" path="{subcloud}" >
                        <param name="subcloud" style="template" required="true" type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The subcloud reference, name or id.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getSwUpdateOptions"/>
                        <method href="#updateSwUpdateOptions"/>
                        <method href="#deleteSwUpdateOptions"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->


    <!-- ..................................................... -->
    <!-- ..  Versions                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listVersions-dcmanager-v1">
        <wadl:doc xml:lang="EN" title="List API versions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all dcmanager API versions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/dcmanager-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  subclouds                                      .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listSubclouds">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Subclouds">
            <para role="shortdesc">Lists all subclouds.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="subclouds" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of subclouds.</para>
                    </wadl:doc>
                </param>
                &commonListShowParameters;
                &commonSubcloudListShowParameters;
                &subcloudListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>


    <method name="GET" id="getSubcloud">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show subcloud">
            <para role="shortdesc">Shows detailed information about a specific subcloud.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &commonListShowParameters;
                &commonSubcloudListShowParameters;
                &subcloudListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>


    <method name="POST" id="addSubcloud">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create subcloud">
            <para role="shortdesc">Creates a subcloud.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The name for the subcloud. Must be a unique name.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The description of the subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The location of the subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-subnet" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Management subnet for subcloud in CIDR format. Must be unique.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-start-ip" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Start of management IP address range for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-end-ip" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>End of management IP address range for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="systemcontroller-gateway-ip" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Systemcontroller gateway IP Address.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_add-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &commonListShowParameters;
                &commonSubcloudListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_add-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>


    <method name="PATCH" id="updateSubcloud">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify Subcloud">
            <para role="shortdesc">Modifies a specific subcloud.</para>
            <para>The attributes of a subcloud which are modifiable:</para>
            <itemizedlist>
                <listitem><para>description</para></listitem>
                <listitem><para>location</para></listitem>
                <listitem><para>management-state</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The description of the subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The location of the subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-state" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The management-state of the subcloud, <code>managed</code> or <code>unmanaged</code>.
                              The subcloud must be online before this can be modified to managed.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_update-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &commonListShowParameters;
                &commonSubcloudListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="DELETE" id="deleteSubcloud">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Subcloud">
            <para role="shortdesc">Deletes a specific subcloud.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>


    <method name="POST" id="generateConfig">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Generate Subcloud Configuration">
            <para role="shortdesc">Generates the configuration of a specific subcloud.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="pxe-subnet" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>PXE boot boot subnet for subcloud in CIDR format.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-vlan" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>VLAN for subcloud management network.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-interface-port" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Subcloud management interface port.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="management-interface-mtu" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Subcloud management interface mtu.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-subnet" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>OAM subnet for subcloud in CIDR format.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-gateway-ip" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>OAM gateway IP for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-floating-ip" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>OAM floating IP address for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-unit-0-ip" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>OAM unit 0 IP address for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-unit-1-ip" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>OAM unit 1 IP address for subcloud.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-interface-port" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Subcloud OAM interface port.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="oam-interface-mtu" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Subcloud OAM interface mtu.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="system-mode" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>System mode, <code>simplex, duplex, or duplex-direct</code>.</para>
                    </wadl:doc>
                </param>

            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_generate_config-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/subcloud_generate_config-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  alarms                                         .. -->
    <!-- ..................................................... -->


    <method name="GET" id="summarizeAlarms">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Subcloud Alarms">
            <para role="shortdesc">Summarizes alarms from all subclouds.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="alarm_summary" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of alarm summaries.</para>
                    </wadl:doc>
                </param>

                &alarmListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/alarm_summary-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  sw-update-options                              .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listSwUpdateOptions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Patch Options">
            <para role="shortdesc">Lists all patch options.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="sw-update-options" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of patch options.</para>
                    </wadl:doc>
                </param>
                &swUpdateOptionsListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_config_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>

    <method name="GET" id="getSwUpdateOptions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Patch options">
            <para role="shortdesc">Shows patch options, defaults or per subcloud. Use <code>RegionOne</code> as subcloud for default options which are pre-configured.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateOptionsListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_config_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>

    <method name="POST" id="updateSwUpdateOptions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update Patch Options">
            <para role="shortdesc">Updates patch options, defaults or per subcloud. Use <code>RegionOne</code> as subcloud for default options.</para>
            <itemizedlist>
                <listitem><para>storage-apply-type,</para></listitem>
                <listitem><para>compute-apply-type,</para></listitem>
                <listitem><para>max-parallel-computes,</para></listitem>
                <listitem><para>alarm-restriction-type,</para></listitem>
                <listitem><para>default-instance-action,</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="storage-apply-type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Storage host apply type, <code>parallel</code> or <code>serial</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="compute-apply-type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Compute host apply type, <code>parallel</code> or <code>serial</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="max-parallel-computes" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The number of compute hosts to patch in parallel.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="alarm-restriction-type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Whether to allow patching if subcloud alarms are present or not,
                              <code>strict</code> or  <code>relaxed</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="default-instance-action" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>How instances should be handled, <code>stop-start</code> or <code>migrate</code>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_config_update-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateOptionsListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_config_update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="DELETE" id="deleteSwUpdateOptions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete patch options">
            <para role="shortdesc">Delete per subcloud patch options.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>


    <!-- ..................................................... -->
    <!-- ..  sw-update-strategy                             .. -->
    <!-- ..................................................... -->

    <method name="GET" id="getSwUpdateStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Patch Strategy">
            <para role="shortdesc">Shows the details of the patch strategy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateStrategyListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>

    <method name="POST" id="createSwUpdateStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Patch Strategy">
            <para role="shortdesc">Creates the patch strategy.</para>
            <itemizedlist>
                <listitem><para>subcloud-apply-type,</para></listitem>
                <listitem><para>max-parallel-subclouds,</para></listitem>
                <listitem><para>stop-on-failure,</para></listitem>
                <listitem><para>cloud_name,</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="subcloud-apply-type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Subcloud apply type, <code>parallel</code> or <code>serial</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="max-parallel-subclouds" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Maximum number of parallel subclouds.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="stop-on-failure" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Whether stop patching any additional subclouds after a failure or not, <code>True</code> or <code>False</code>.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="cloud_name" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Name of a single cloud to patch.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="type" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Must be set to: <code>patch</code>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_create-request.json"/>
                </wadl:doc>
            </representation>

        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateStrategyListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_create-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>

    <method name="DELETE" id="deleteSwUpdateStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Patch Strategy">
            <para role="shortdesc">Deletes the patch strategy from the database.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="actionSwUpdateStrategy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Patch Strategy Action">
            <para role="shortdesc">Executes an action on a patch strategy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="action" style="plain" type="xsd:string" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Perform one of the following actions on the patch strategy:
                            Valid values are:  <code>apply</code>,
                                            or <code>abort</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_apply-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateStrategyListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_action-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
    </method>


    <method name="GET" id="listSwUpdateStrategySteps">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Patch Strategy Steps">
            <para role="shortdesc">Lists all patch strategy steps for all clouds.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="strategy-steps" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of patch strategy steps.</para>
                    </wadl:doc>
                </param>
                &swUpdateStrategyStepsListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_steps_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>


    <method name="GET" id="getSwUpdateStrategySteps">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Patch Strategy Steps">
            <para role="shortdesc">Shows the details of patch strategy steps for a particular cloud.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &swUpdateStrategyStepsListShowParameters;
                &commonListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_strategy_steps_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &getFaults;
        &commonFaults;
    </method>

</application>
