restapi-doc/restapi-doc/api-ref/src/wadls/patching-api/v1/patching-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    >


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->


    <resources base="https://windriver.com/cgcs-restapi/patching/" xml:id="patching-v1">

        <!-- /                                                 -->
        <resource id="versions" path="//">
            <method href="#listVersions-patching-v1"/>
        </resource>

        <!-- /v1                                               -->
        <resource id="version" type="#VersionDetails" path="//v1">

        <!-- /v1/query                                      -->
            <resource id="patches" path="query">
                <method href="#listPatches"/>
            </resource>

        <!-- /v1/show                                      -->
            <resource id="patch" path="show">

        <!-- /v1/show/{patch_id}                                      -->
                <resource id="showPatch" path="{patch_id}">
                    <method href="#showPatch"/>
                </resource>
            </resource>

        <!-- /v1/upload                                      -->
            <resource id="upload" path="upload">
                <method href="#uploadPatch"/>
            </resource>

        <!-- /v1/apply                                       -->
            <resource id="apply" path="apply">

        <!-- /v1/apply/{patch_id}                                      -->
                <resource id="doapply" path="{patch_id}">
                    <method href="#applyPatch"/>
                </resource>
             </resource>
			
        <!-- /v1/remove                                      -->
            <resource id="remove" path="remove">

        <!-- /v1/remove/{patch_id}                                      -->
                <resource id="doremove" path="{patch_id}">
                    <method href="#removePatch"/>
                </resource>
            </resource>
			
        <!-- /v1/delete                                      -->
            <resource id="delete" path="delete">

        <!-- /v1/delete/{patch_id}                                      -->
                <resource id="dodelete" path="{patch_id}">
                    <method href="#deletePatch"/>
                </resource>
            </resource>
			
        <!-- /v1/query_hosts                                      -->
            <resource id="hosts" path="query_hosts">
                <method href="#queryHosts"/>

            </resource>
			
        <!-- /v1/host_install_async                              -->
            <resource id="installasync" path="host_install_async">

        <!-- /v1/host_install_async/{hostname}                              -->
                <resource id="doinstallasync" path="{hostname}">
                    <method href="#hostInstallAsync"/>
                </resource>
            </resource>

        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               RESOURCE TYPES                          -->
    <!--*******************************************************-->


    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Version details">
            <para>API version details.</para>
        </wadl:doc>
        <method href="#showVersionDetails-patching-v1"/>
    </resource_type>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

	
    <!-- ..................................................... -->
    <!-- ..  Patches                                        .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listPatches">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Patches">
            <para role="shortdesc">Lists all patches in the patching system.</para>
            <para>Supported query values are <code>all</code>, <code>available</code>, or <code>applied</code>.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &listPatchParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>


    <method name="GET" id="showPatch">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Patch">
            <para role="shortdesc">Shows detailed information about a specific patch.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &showPatchParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>


    <method name="POST" id="uploadPatch">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Upload Patch">
            <para role="shortdesc">Uplaods a patch to the patching system.</para>
            <para>Note that only one patch may be added per request</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/octet-stream">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &responseParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_upload-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults; 
    </method>

	
    <method name="POST" id="applyPatch">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Apply Patch">
            <para role="shortdesc">Applies a patch which is in the Available state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &responseParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_apply-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults; 
    </method>

    <method name="POST" id="removePatch">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Remove Patch">
            <para role="shortdesc">Removes a patch which is in the Applied state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &responseParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_remove-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults; 
    </method>

    <method name="POST" id="deletePatch">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Patch">
            <para role="shortdesc">Deletes a patch which is in the Available state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &responseParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patch_delete-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults; 
    </method>

	
	
    <!-- ..................................................... -->
    <!-- ..  Versions                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listVersions-patching-v1">
        <wadl:doc xml:lang="EN" title="List API versions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all Titanium Cloud Patching API versions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/patching-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>



    <!-- ..................................................... -->
    <!-- ..  Hosts                                          .. -->
    <!-- ..................................................... -->

    <method name="GET" id="queryHosts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List hosts">
            <para role="shortdesc">Lists all host entities and their patching information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="data" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of host entities.</para>
                    </wadl:doc>
                </param>
                &queryHostsParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/host_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults; 
    </method>


    <method name="POST" id="hostInstallAsync">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Host Install Async">
            <para role="shortdesc">Trigger an asynchronous host install on the specified host.</para>
            <para>The host must be in the Locked-Disabled-Online state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &responseParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/host_install_async-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &postPutFaults;
    </method>


</application>
