restapi-doc/restapi-doc/api-ref/src/wadls/image-api/v2/cgcs-ext/image-v2-cgcs-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014-2017 Wind River Systems, Inc.

SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
<!-- REMOVED xmlns:csapi="http://docs.openstack.org/image/api/v2" -->


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->

    <resources base="https://windriver.com/cgcs-restapi/glance/"
        xml:id="image-v2-cgcs-ext">

        <!-- /v2                                               -->
        <resource id="version" type="#VersionDetails" path="//v2">

        <!-- /v2/images                                     -->
            <resource id="images" path="images">
                <method href="#addImage"/>
                <method href="#listImages"/>

        <!-- /v2/images/{image_id}                       -->
                <resource id="image_id" path="{image_id}">
                    <param name="image_id" style="template"
                        type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The name for the image.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getImage"/>
                    <method href="#modifyImage"/>
                </resource>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->

    <method name="GET" id="listImages">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List images">
            <para role="shortdesc">Lists all images.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &imageListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show image">
            <para role="shortdesc">Shows detailed information about a specific image.</para>
            &standardApiDescription;
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &imageListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="POST" id="addImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create image">
            <para role="shortdesc">Creates an image.</para>
            &standardApiDescription;
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="cache_raw" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>On systems using Ceph storage, boot image files must be 
                              converted to RAW format before they can be used to create 
                              volumes. You can accelerate volume creation in Titanium Cloud 
                              (and therefore instance launch time) by caching the RAW images 
                              as they are created. The cached images are maintained in the 
                              Glance image storage space and used for volume creation, eliminating 
                              conversion time.  The default behaviour is to NOT cache the raw format.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="sw_wrs_auto_recovery" style="plain" type="xsd:bool" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates whether auto recovery of failed virutal machine instances is enabled or not.
                              The default is True.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="hw_wrs_live_migration_timeout" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the number of seconds to wait for a live migration to complete for
                              a VM created with this image.  Note that this can be specified as an extraspec
                              of the flavor as well.  If the timeout value is provisioned in both the flavor 
                              and the image, the smaller value is used.  The default is 800 seconds.  The 
                              minimum timeout is 120 seconds and the maximum timeout value is 800 seconds.
                              To disable the live migration timeout feature, set this value to 0.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="hw_wrs_live_migration_max_downtime" style="plain" type="xsd:integer" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>Indicates the maximum amoutn of downtime to tolerate during a live migration of
                        a VM created with this image.  Note that this can be specified as an extraspec
                        of the flavor as well.  If the max downtime value is provisioned in both the flavor 
                        and the image, the value from the flavor overrides the value from the image.  The default
                        is 500 milliseconds.  The minimum timer value is 100 milliseconds.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_add-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &imageListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_add-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>

    <method name="PUT" id="modifyImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Modify image">
            <para role="shortdesc">Modifies a specific image.</para>
            &standardApiDescription;
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &imageListUpdateParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_modify-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &imageListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/image-v2-cgcs-ext/image_modify-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &postPutFaults;
    </method>


</application>
