restapi-doc/restapi-doc/api-ref/src/wadls/sm-api/v1/sm-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2018 Wind River Systems, Inc.

  SPDX-License-Identifier: Apache-2.0

-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    >


    <!--*******************************************************-->
    <!--               RESOURCES                               -->
    <!--*******************************************************-->


    <resources base="https://windriver.com/sm-api/" xml:id="smapi-v1">

        <!-- /                                                 -->
        <resource id="versions" path="//">
            <method href="#listVersions-smapi-v1"/>
        </resource>

        <!-- /v1                                               -->
        <resource id="version" type="#VersionDetails" path="//v1">

        <!-- /v1/services                             -->
            <resource id="services" path="services">
                <method href="#smlistServices"/>

        <!-- /v1/services/{service_id}                     -->
                <resource id="service_id" path="{service_id}" >
                    <param name="service_id" style="template" required="true" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The unique identifier of an existing service. </para>
                        </wadl:doc>
                    </param>
                    <method href="#smgetService"/>
            </resource>
        <!-- /v1/services/{service_name}                     -->
                <resource id="service_name" path="{service_name}" >
                    <param name="service_name" style="template" required="true" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The name of an existing service. </para>
                        </wadl:doc>
                    </param>
                    <method href="#modifyService"/>
                </resource>
            </resource>
        <!-- /v1/nodes                             -->
            <resource id="servicenodes" path="nodes">
                <method href="#smlistServiceNodes"/>

        <!-- /v1/nodes/{node_id}                     -->
                <resource id="node_id" path="{node_id}" >
                    <param name="node_id" style="template" required="true" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The unique identifier of an existing node. </para>
                        </wadl:doc>
                    </param>
                    <method href="#smgetServiceNode"/>

                </resource>
            </resource>
        <!-- /v1/service_groups                            -->
            <resource id="servicegroup" path="service_groups">
                <method href="#smlistServiceGroups"/>

        <!-- /v1/service_groups/{servicegroup_id}                     -->
                <resource id="servicegroup_id" path="{servicegroup_id}" >
                    <param name="servicegroup_id" style="template" required="true" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>The unique identifier of an existing service group. </para>
                        </wadl:doc>
                    </param>
                    <method href="#smgetServiceGroup"/>

                </resource>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               RESOURCE TYPES                          -->
    <!--*******************************************************-->


    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Version details">
            <para>API version details.</para>
        </wadl:doc>
        <method href="#showVersionDetails-sm-api-v1"/>
    </resource_type>


    <!--*******************************************************-->
    <!--               METHODS                                 -->
    <!--*******************************************************-->


    <!-- ..................................................... -->
    <!-- ..  Versions                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="listVersions-smapi-v1">
        <wadl:doc xml:lang="EN" title="List API versions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists information about all Titanium Cloud SM API versions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/smapi-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <method name="GET" id="showVersionDetails-smapi-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show API v1 details">
            <para role="shortdesc">Shows details for SM API v1.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/versionv1-get-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  Services                                       .. -->
    <!-- ..................................................... -->

    <method name="GET" id="smlistServices">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List services">
            <para role="shortdesc">List all services running.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="services" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of services.</para>
                    </wadl:doc>
                </param>
                &serviceListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="smgetService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show service">
            <para role="shortdesc">Shows the attributes of a specific service.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &serviceListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <!-- ..................................................... -->
    <!-- ..  Nodes                                  .. -->
    <!-- ..................................................... -->

    <method name="GET" id="smlistServiceNodes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List nodes">
            <para role="shortdesc">List all controller nodes in the system.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="nodes" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of controller nodes.</para>
                    </wadl:doc>
                </param>
                &serviceNodeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_node_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="smgetServiceNode">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show node">
            <para role="shortdesc">Shows the attributes of a specific node.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &serviceNodeListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_node_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

    <!-- ..................................................... -->
    <!-- ..  Service Group                                  .. -->
    <!-- ..................................................... -->

    <method name="GET" id="smlistServiceGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List service groups">
            <para role="shortdesc">List all service groups in the system.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="service_groups" style="plain" type="xsd:list" >
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>The list of service groups.</para>
                    </wadl:doc>
                </param>
                &serviceGroupListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_group_list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>


    <method name="GET" id="smgetServiceGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show service group">
            <para role="shortdesc">Shows the attributes of a specific service group.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                </wadl:doc>
                &serviceGroupListShowParameters;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/service_group_show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>

</application>
